{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@/src/*": ["src/*"],
      "@/app/*": ["src/app/*"],
      "@/tests/*": ["tests/*"],
      "@/routes/*": ["src/routes/*"],
      "@/persistence/*": ["src/persistence/*"],
      "@/controllers/*": ["src/controllers/*"]
    },
    "target": "es2022"
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true
  },
  "minify": false
}
